.about {
  position: absolute;
  top: 110%;
  background-color: #efe2d9;//#1db4cf;

  h1 {
    color: #0a3962;
    font-size: 54px;
    margin-bottom: 80px;
    text-align: center;
  }
  //background-image: linear-gradient(to bottom right, #1db4cf, #afd8dd);
  .about_text {
    display: flex;
    width: 70%;
    margin: auto;
    p {
      color: #fff;
      width: 70%;
      padding-right: 20px;
      padding-left: 20px;
      margin-right: 100px;
      padding-top: 30px;
      line-height: 40px;
      font-size: 24px;
      background-color: #0a3962;
      //border: 4px solid #0a3962;
      border-radius: 2%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .profile_image {
      width: 25%;
      object-fit: contain;
      border: 4px solid #0a3962;
      border-radius: 2%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
