.header_title {
  position: relative;
  top: 190px;
  text-align: center;
  h1 {
    font-size: 72px;
    color: #fff;
    //color: #0a3962;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p {
    //width: 925px;
    //font-family: 'Bigshot One', cursive;
    color: #fff;
    line-height: 40px;
    font-weight: normal;
    padding-top: 90px;
    padding-bottom: 70px;
    width: 60%;
    margin: auto;
    font-size: 24px;
  }

  
  .issues_text {
    margin-top: -80px;
    font-size: 24px;
    color: #fff;
    //color: #ffb26b;
    font-weight: bold;
    margin-bottom: -35px;
  }

  .issue{
    color: #ffb26b;
    font-family: "Bigshot One", cursive;
    letter-spacing: 2px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 28px;
    .issue:hover{      //NOT WORKING
      font-size: 21px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    }
  }
/*
  ul {
    width: 60%;
    margin: auto;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2%;
    :hover {
      font-size: 21px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    }
  }
  li {
    display: inline-block;
    color: #ffb26b;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 60px;
    //cursor: wait;
    cursor: default;
  }
*/
  //CALL TO ACTION BUTTON
  .cta {
    //btn
    width: 340px;
    height: 80px;
    background: #ffb26b;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    //margin-top: 120px;

    //txt
    font-family: "Bigshot One", cursive;
    font-size: 28px;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
  }

  .cta span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .cta span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .cta:hover span {
    padding-right: 25px;
  }

  .cta:hover span:after {
    opacity: 1;
    right: 0;
  }
}
