nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0a3962;
    padding: 15px;
    z-index: 1;
    a {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
    }
    .nav_logo {
        margin-left: 20px;
    }
    .nav_link {
      margin-right: 50px;
    }
  }