* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #efe2d9;//#1db4cf;
}
.container{
    background-image: url(/HodzenHypnoSite/images/seashore-under-blue-sky-cropped-fade.png);
    background-color: #efe2d9;//#1db4cf;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}
hr{
    width: 60%;
    margin: auto;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 35px;
    opacity: .3;
}
h1{
    font-family: "Bigshot One", cursive;
}
p{
    font-family: "Raleway", sans-serif;
}
h4{
    font-family: "Raleway", sans-serif;
}

@import "./navbar";
@import "./header";
@import "./about";
@import "./contact";